#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: center;
  box-sizing: border-box;
  --secondary-color: #00e093;
  box-sizing: border-box;
}

/********* - Login/Register Forms - ***********/

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-headline {
  font-weight: 600;
  color: rgb(17, 17, 17);
  font-size: 1.7rem;
  text-transform: capitalize;
  line-height: 60px;
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  border-radius: 2rem;
  background-color: #eaeaea;
  padding: 2rem;
  padding-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(78, 78, 78);
  text-align: left;
}

.form label {
  display: block;
  margin-bottom: 4px;
  margin-top: 16px;
}

/********* - Errors - **********/

.error-message {
  color: red;
  font-size: 16px;
  margin: 0;
}

/********* - Navbar - **********/

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 12rem;
  margin-right: 12rem;
  align-items: center;
  margin-bottom: 5rem;
}

.nav-items-container {
  display: flex;
  align-items: center;
  /* gap: 2.5rem; */
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  background-color: #e9e9e9;
  border-radius: 30px;
  font-size: 14px;
  box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.17);
}

.nav-item a {
  color: #1c1c1c;
  font-weight: 500;
  transition: 0.15s ease-in-out;
  padding: 0.2rem 1.4rem 0.2rem 1.4rem;
}

.nav-item :hover {
  color: rgb(106, 106, 106);
}

.nav-item.active {
  background-color: #f4f4f4;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
/********* - SAMPLE-PLAYER - **********/

.sample-player-button {
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0 !important;
  text-align: inherit;
  outline: none !important;
  font: inherit;
  border-radius: 0;
  appearance: none;
  color: #313131;
  transition: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-player-container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 10px;
  padding-right: 0px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid rgb(207, 207, 207); */
}

.tags {
  color: #313131;
  font-size: 12px;
}

.music-player {
  display: flex;
  gap: 10px;
  align-items: center;
}

.music-player > * {
  flex-grow: 1;
}

.user-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 8%;
  background: url(./assets/profile-pic-template.png) no-repeat center center;
  background-size: cover;
}

.sample-title-progress {
  text-align: left;
  width: 250px;
}

.attribute-container {
  border-left: 0.5px solid rgb(197, 197, 197);
  padding-left: 11px;
  height: 100%;
}

.attribute {
  margin-top: 10px;
}

.attribute-title {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #7d7d7d;
}

.border-right {
  border-right: 0.5px solid rgb(197, 197, 197);
  padding-right: 11px;
}

.more-button svg {
  color: rgb(108, 108, 108);
}

.icon svg {
  width: 25px;
  height: auto; /* This will keep the aspect ratio intact */
}

.like-button {
  margin-top: 10px;
}

.filterable-sample-list {
  display: flex;
}

.filter-form {
  padding-left: 1rem;
  padding-right: 1rem;
}

.headline {
  font-size: 1.5rem;
  text-align: left;
  color: #7d7d7d;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 6px;
  margin: 0;
  margin-top: 0.5em;
  font-size: 12px;
  padding-inline-start: 0;
  color: #7d7d7d;
}

body {
  /* font-family: "Arial", sans-serif; */
  background-color: #f4f4f4;
  color: #313131;
  padding: 20px;
  font-family: "owners-text", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* max-height: 100vh; */
}

.searchbar-wrapper {
  display: flex;
  flex-direction: column;
}

.searchbar-wrapper input {
  padding: 4px;
}

/* .samples-list {
  max-height: 70vh;
  overflow-y: scroll;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: hidden;
  
} */

/* Sample List Styles */

/* .samples-list {
  max-height: 550px;
  width: 100%;
  overflow: scroll;
} */

/********* - Media Queries - **********/

@media only screen and (max-width: 1007px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .nav-items-container {
    display: flex;
    align-items: center;

    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    background-color: #e9e9e9;
    border-radius: 30px;
    font-size: 12px;
    box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.17);
  }

  .nav-item a {
    padding: 0rem 1rem 0rem 1rem;
  }
}
