/*CSS From index.css*/

body {
  margin: 0;
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-family: "owners-text", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  color: var(--button-color);
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  padding-top: 7rem;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding-bottom: 7rem;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #fafafa;
  --bg-card-color: #fafafa; /* Light mode background */
  /* Light mode background */
  --text-color: #1c1c1c; /* Light mode text color */
  --secondary-color: #03b276; /* Light mode secondary color */
  --link-hover: #00905e; /* Light mode link hover */
  --cancel-color: rgb(223, 118, 13); /* Light mode cancel color */
  --h3-color: rgb(157, 157, 157); /* Light mode h3 color */
  --input-color: rgb(249, 249, 249); /* Light mode input color */
  --gradient-color-start: rgba(
    250,
    250,
    250,
    0.8
  ); /* Light mode gradient start */
  --gradient-color-end: rgba(250, 250, 250, 0.8); /* Light mode gradient end */
  --light-bg-color-grey: #e9e9e9;
  --sample-list-color: #e9e9e9;
  --seperator-color: rgb(197, 197, 197);
  --grey-text-color: #7d7d7d;

  /* Dark mode variables for easy switch */
  --bg-card-color-dark: #2f2f2f;
  --bg-color-dark: #212121;
  --text-color-dark: #f9f9f9;
  --secondary-color-dark: #03b276;
  --link-hover-dark: #00905e;
  --cancel-color-dark: rgb(223, 118, 13);
  --h3-color-dark: rgb(157, 157, 157);
  --input-color-dark: rgb(47, 47, 47);
  --gradient-color-start-dark: rgba(33, 33, 33, 0.9);
  --gradient-color-end-dark: rgba(33, 33, 33, 0.8);
  --light-bg-color-grey-dark: #383838;
  --sample-list-color-dark: #3d3d3d;
  --seperator-color-dark: rgb(92, 92, 92);
  --grey-text-color-dark: rgb(0, 0, 0) d;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body.dark-mode {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --link-hover: var(--link-hover-dark);
  --cancel-color: var(--cancel-color-dark);
  --h3-color: var(--h3-color-dark);
  --input-color: var(--input-color-dark);
  --gradient-color-start: var(--gradient-color-start-dark);
  --gradient-color-end: var(--gradient-color-end-dark);
  --bg-card-color: var(--bg-card-color-dark);
  --light-bg-color-grey: var(--light-bg-color-grey-dark);
  --sample-list-color: var(--sample-list-color-dark);
  --seperator-color: var(--seperator-color-dark);
  --grey-text-color: var(--grey-text-color-dark);
}

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.toggle-dark-mode-btn {
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--secondary-color-dark);
  color: white;
  font-size: 2rem;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}

.light-mode-btn {
  background-color: rgb(74, 74, 74);
  color: var(--secondary-color-dark);
}

.toggle-dark-mode-btn.light-mode-btn:hover {
  background-color: #909090;
}

.toggle-dark-mode-btn:hover {
  background-color: var(--link-hover);
  outline: none;
  border: none;
}

.toggle-dark-mode-btn:focus {
  outline: #00905e;
}

.margin-auto-center {
  margin: 0 auto;
}

.text-align-left {
  text-align: left;
}

.h1-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h2 {
  font-size: 1.3rem;
  /* margin-top: 2.5rem; */
  font-weight: 300;
}

h3 {
  color: var(--h3-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
}

.text-accent {
  color: var(--secondary-color);
  font-weight: 500;
  margin-top: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.landingpage {
  padding-top: 3rem;
}

.icon-text-container {
  display: flex;
  gap: 1.5rem;
  max-width: 400px;
  font-size: 18px;
  margin-bottom: 2rem;
}

.icon-text-container svg {
  margin-top: 4px;
  width: 40px;
}

.margin-l-s {
  margin-left: 8px;
}

.margin-top-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.divider {
  pointer-events: none;
}

.button-link {
  padding: 8px 12px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  transition: 0.15s ease-in-out;
}

.button-link:hover {
  background-color: var(--link-hover);
  color: white;
}

/********* - Login/Register Forms - ***********/

.headline-form-section {
  max-width: 300px;
  margin: 0 auto;
}

.sequence-logo-form {
  width: 150px;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

.form-headline {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.3rem;
  text-transform: capitalize;
  line-height: 60px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.headline-form-section p {
  margin-top: 0;
  color: #5e5e5e;
}

.form label {
  display: block;
  margin-bottom: 4px;
  margin-top: 16px;
  font-weight: 300;
}

.input-container {
  position: relative;
}

.form input {
  padding: 0.8rem;
  background-color: var(--input-color);
  border: solid 1px rgb(172, 172, 172);
  color: #1c1c1c;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.next-step-btn {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 400px;
  width: 100%;
  transition: 0.15s ease-in-out;
  border: none;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.next-step-btn:hover {
  background-color: var(--link-hover);
}

.icon-button {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.submit-btn {
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
  transition: 0.15s ease-in-out;
  border: none;
  background-color: var(--secondary-color);
}

.submit-btn:active {
  outline: none;
  background-color: rgb(78, 78, 78);
}

.submit-btn:hover {
  outline: none;
  border: none;

  background-color: var(--link-hover);
}

.toggle-password-visibility {
  background-color: transparent;
  color: rgb(172, 172, 172);
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  font-size: 20px;
  padding: 13px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
}

.toggle-password-visibility:hover {
  background-color: rgb(224, 224, 224);
  outline: none;
  border: solid 1px rgb(172, 172, 172);
  border-left: none;
}

.toggle-password-visibility:focus {
  outline: none;
  border: solid 1px rgb(172, 172, 172);
  border-left: none;
  background-color: rgb(133, 197, 175);
}

/********* - Edit-Profile-Picture - **********/

.profile-picture-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.file-upload-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin: 0 auto;
}
/********* - Messages - **********/

.error-message {
  color: red;
  font-size: 14px;
  margin: 0;
  margin-bottom: 1rem;
}

.cancel-message {
  color: var(--cancel-color);
  margin-bottom: 1rem;
}

.success-message {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

/********* - Navbar - **********/

.main-navigation {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* max-width: 1180px; */
  align-items: center;
  height: 65px;

  background: linear-gradient(
    var(--gradient-color-start) 0%,
    var(--gradient-color-end) 90%
  );
  backdrop-filter: blur(6px);
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 100px;
  z-index: 100;
}

.hide {
  top: -80px;
}

nav img {
  margin-top: 10px;
}

.logo-class {
  width: 100px;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-items-container {
  display: flex;
  align-items: center;
  /* gap: 2.5rem; */
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  background-color: var(--light-bg-color-grey);
  border-radius: 30px;
  font-size: 14px;
  box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
  margin-top: 0;
  height: 35px;
}

.nav-item a {
  color: var(--text-color);
  font-weight: 500;
  transition: 0.15s ease-in-out;
  padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item :hover {
  color: rgb(106, 106, 106);
}

.active {
  background-color: var(--bg-color);
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  pointer-events: none;
  cursor: default;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  padding: 10px 10px;
  transition: 0.15s ease-in-out;
  font-size: 16px;
}

.logout-button:active {
  border: none;
}

.logout-button:focus {
  outline: none;
}

.logout-button:hover {
  color: var(--secondary-color);
}

.nav-right-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mobile-navigation {
  display: none;
}

.login-button {
  color: #1c1c1c;
  font-weight: 300;
}

.login-button:hover {
  color: var(--secondary-color);
}

.register-button {
  background-color: var(--secondary-color);
  font-weight: 300;
  color: white;
  padding: 4px 16px;
  border-radius: 20px;
  transition: 0.15s ease-in-out;
}

.register-button:hover {
  background-color: #00905e;
  color: white;
  transition: 0.15s ease-in-out;
}
/********* - SAMPLE-PLAYER - **********/

.sample-player-button {
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0 !important;
  text-align: inherit;
  outline: none !important;
  font: inherit;
  border-radius: 0;
  appearance: none;
  color: var(--text-color);
  transition: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-player-container {
  width: 100%;
  max-width: 800px;
  background-color: var(--bg-card-color);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.tags {
  font-size: 12px;
}

.music-player {
  display: flex;
  gap: 10px;
  align-items: center;
}

.music-player > * {
  flex-grow: 1;
}

.user-profile-picture {
  width: 50px;
  height: 50px;
}

.user-profile-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8%;
}

.sample-title-progress {
  text-align: left;
  width: 250px;
  overflow: hidden;
}

.attribute-container {
  border-left: 0.5px solid var(--seperator-color);
  padding-left: 11px;
  height: 100%;
  width: 40px;
}

.attribute {
  margin-top: 10px;
}

.attribute-title {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: var(--grey-text-color);
}

.border-right {
  border-right: 0.5px solid var(--seperator-color);
  padding-right: 11px;
}

.icon svg {
  width: 25px;
  height: auto;
}

.like-button {
  margin-top: 10px;
}

.filterable-sample-list {
  display: flex;
  justify-content: center;
}

/* .total-samples {
    text-align: left;
  } */

.liked {
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 6px;
  margin: 0;
  margin-top: 0.5em;
  font-size: 12px;
  padding-inline-start: 0;
  color: var(--grey-text-color);
}

.searchbar-wrapper {
  display: flex;
  flex-direction: column;
}

.searchbar-wrapper input {
  padding: 4px;
}

.page-controller {
  margin-top: 20px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.page-controller-button {
  background-color: transparent;
  color: var(--grey-text-color);
  font-size: 1.8rem;
  transition: 0.15s ease-in-out;
  border: none;
  padding: 8px;
}

.page-controller-button:active {
  outline: none;
}

.page-controller-button:focus {
  outline: none;
}

.page-controller-button:hover {
  outline: none;
  padding: 8px;
}

.page-controller-button:disabled {
  cursor: not-allowed;
  color: #bdbdbd;
}

.page-controller-button:disabled .page-controll-button-descr {
  color: #bdbdbd;
}

.page-controll-button-descr {
  font-size: 1rem;
  color: var(--grey-text-color);
  font-weight: 300;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pages-display {
  color: var(--grey-text-color);
  font-weight: 500;
}

/********* - Context Menu - Sample Player - **********/

.context-menu-container {
  position: relative;
}

.context-menu {
  position: absolute;
  background-color: var(--light-bg-color-grey);
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  top: 10;
  right: 0px;
  z-index: 20;
  min-width: none;
  gap: 20px;
}

.context-menu-button-activate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

.context-menu-button-activate:focus {
  outline: solid var(--secondary-color) 1px;
}

.context-menu-button-activate svg {
  font-size: 26px;
}

.context-menu a {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 150px;
  transition: 0.15s ease-in-out;
  color: var(--text-color);
}

.context-menu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--seperator-color);
  top: 45px;
  left: 0;
}

.context-menu a:hover {
  color: var(--secondary-color);
}

.context-menu-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--text-color);
  font-weight: 300;
  text-align: left;
  gap: 16px;
  padding: 0;
  border: none;
}

.context-menu-button:hover {
  color: var(--secondary-color);
  border: none;
}

/********* - Homepage - **********/

.homepage-headline {
  font-weight: 300;
  text-align: start;
  font-size: 2.5rem;
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 2rem;
}

.homepage-headline-container p {
  text-align: start;
  margin: 0;
}

.homepage-headline span {
  font-weight: 500;
}

.button-icon {
  font-size: 4rem;
  align-self: start;
}

.container {
  display: flex;
  justify-content: center;
  text-align: start;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 1180px;
  height: 90vh;
  gap: 10px;
}

.grid {
  background: black;
  border-radius: 12px;
}

/* Child 1 */
.wrapper .grid:nth-child(1) {
  grid-column: span 5;
  grid-row: span 6;
  background-color: transparent;
}

/* Child 2 */
.wrapper .grid:nth-child(2) {
  grid-column-start: 6;
  grid-column-end: span 4;
  grid-row: span 3;
  background-color: transparent;
  border: 1px rgb(214, 214, 214) solid;
  padding: 1.2rem;
  padding-left: 1.2rem;
}

.grid-text {
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.grid p {
  margin-bottom: 1rem;
}

.learn-more {
  font-weight: 500;
}

/* Child 3 */
.wrapper .grid:nth-child(3) {
  grid-column-start: 10;
  grid-column-end: span 3;
  grid-row: span 6;
  background-image: url(./assets/mainpage/jakayla-toney-_SUo0bFBMRc-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

/* Child 4 */
.wrapper .grid:nth-child(4) {
  grid-column-start: 6;
  grid-column-end: span 4;
  grid-row-start: 4;
  grid-row-end: span 3;
  background-image: url(./assets/mainpage/erwi-AJ3r-NL28PI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-size: 120%;
}

/* Child 5 */
.wrapper .grid:nth-child(5) {
  grid-column: span 5;
  grid-row-start: 7;
  grid-row-end: span 6;
  background-image: url(./assets/mainpage/andreas-forsberg-rMdOHpO3h5E-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

/* Child 6 */
.wrapper .grid:nth-child(6) {
  text-align: center;
  grid-column-start: 6;
  grid-column-end: span 7;
  grid-row-start: 7;
  grid-row-end: span 6;

  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.wrapper .grid:nth-child(6) p {
  text-align: start;
}

.grid-6-text {
  font-weight: 500;
  font-size: 2rem;
}

.grid-link {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

.grid-link svg:hover {
  fill: var(--link-hover);
}

.wrapper .grid:nth-child(6) .grid-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./assets/mainpage/joseph-pearson-b6fKcY3s8VE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(1.2);
}

.grid-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.wrapper .grid:nth-child(6) .grid-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

/********* - Footer - **********/

footer {
  background-color: var(--secondary-color);
  color: white;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.suport-title {
  font-weight: 500;
  text-align: left;
}

.container-footer a {
  color: white;
}

.upper-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.upper-footer a {
  color: white;
  text-align: left;
  transition: 0.15s ease-in-out;
}

.upper-footer a:hover {
  color: rgb(224, 224, 224);
}

.upper-footer-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-login-footer {
  font-weight: 500;
  display: flex;
  gap: 8px;
}

.profile-login-footer img {
  width: 16px;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  position: relative;
}

.lower-footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5px;
  width: 1px;
  width: 95%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.logo-container-footer {
  display: flex;
  gap: 18px;
  font-size: 22px;
}

.logo-footer {
  width: 70px;
  margin-top: 5px;
}

.middle-footer {
  padding: 1rem 3rem;
}

.middle-footer a {
  transition: 0.15s ease-in-out;
}

.middle-footer a:hover {
  color: rgb(224, 224, 224);
}

/********* - Drag & Drop - **********/

.file-drop-zone {
  border: 1px solid #979797;
  border-radius: 12px;
  background-color: var(--light-bg-color-grey);
  cursor: pointer;
  min-width: 300px;
  min-height: 120px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.file-drop-zone span {
  color: var(--secondary-color);
}

.file-drop-zone p {
  color: var(--grey-text-color);
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.file-drag-n-drop-check {
  color: #03b276;
  opacity: 70%;
}

/********* - Sample related Forms - **********/

.sample-form-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 3rem;
}

.back-step-btn {
  display: flex;
  gap: 8px;
  background-color: transparent;
  color: var(--secondary-color);
  align-items: center;
  margin: 0 auto;
  font-weight: 300;
  border: none;
}

.back-step-btn:hover {
  outline: none;
  color: var(--link-hover);
}

.sample-form input,
.sample-form select {
  background-color: var(--bg-card-color);
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 12px 12px;
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
}

.sample-form label {
  color: var(--text-color);
  font-size: 1.2rem;
}

.input-container-sample-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.upload-form-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.upload-form-row > :first-child {
  width: 30%;
}

.upload-form-row > :nth-child(2) {
  width: 30%;
}

.upload-form-row > :nth-child(3) {
  width: 30%;
}

.upload-form-row-2 {
  display: flex;
  gap: 1rem;
}

.upload-form-row-2 > :first-child {
  width: 50%;
}

.upload-form-row-2 > :nth-child(2) {
  width: 50%;
}

.redirect-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* font-size: 1.2rem; */
  margin-top: 2rem;
}

.redirect-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;

  /* background-color: var(--secondary-color); */
  /* color: white; */
  color: var(--secondary-color);
  border-radius: 8px;
  border: none;
  gap: 8px;
  cursor: pointer;
}

.redirect-button:hover {
  /* background-color: var(--link-hover); */
  color: var(--link-hover);
}

/********* - Tag Manager - **********/
.tags-container {
  margin: 0 auto;
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.tag-button {
  background-color: white;
  color: #313131;
  border: solid 1px var(--secondary-color);
  position: relative;
}
.tag-button:hover {
  background-color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
}

.tag-button:active {
  outline: none;
  background-color: var(--link-hover);
}

.tag-button:focus {
  outline: none;
}

.tag-selected {
  background-color: var(--secondary-color);
}

.tag-selected:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
}

.tag-selected:hover .delete-tag-icon {
  color: white;
}

.delete-tag-icon {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: var(--secondary-color);
}

/********* - Dashboard - **********/

.mobile-logout {
  display: none;
}

.profile-card {
  background: var(--bg-card-color);
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3rem;
  position: relative;
}

.profile-card > * {
  position: relative;
  z-index: 1;
}

.profile-card-2 {
  background: var(--bg-card-color);
  backdrop-filter: blur(6px);
  box-shadow: rgba(23, 23, 23, 0.2) 0px 2px 8px 0px;
  border-radius: 12px 12px 0px 0px;
  padding: 1rem 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.sub-nav-items-container {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  background-color: var(--light-bg-color-grey);
  color: var(--text-color);
  border-radius: 30px;
  box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.47);
  margin-top: 0;
  height: 35px;
}

.my-liked-samples-icon {
  font-size: 1.3rem;
}

.my-sample-library-icon {
  font-size: 1.2rem;
}

.nav-item div {
  font-weight: 500;
  transition: 0.15s ease-in-out;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  cursor: pointer;
}

.nav-item div.active {
  pointer-events: none;
}

.profile-picture-container {
  display: inline-block;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.profile-picture-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.edit-profile-picture {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow: hidden;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  font-weight: 500;
  opacity: 0;
  gap: 10px;
}

.edit-profile-picture-icon {
  font-size: 1.2rem;
}

.edit-profile-picture:hover {
  opacity: 1;
  color: white;
}

.username {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.role {
  font-size: 1.2rem;
  color: var(--text-color);
}

.user-stats {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-weight: 500;
}

.stats-container {
  min-width: 100px;
}

.dashboard-sub-navigation {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sample-list-container {
  background-color: var(--sample-list-color);
  padding: 2rem;
  padding-top: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.cancel-button {
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
  transition: 0.15s ease-in-out;
  border: none;
  background-color: transparent;
  border: 1px solid var(--text-color);
}

.cancel-button:hover {
  border: 1px solid var(--cancel-color);
  color: var(--cancel-color);
}
/************* - Browse - **************/

.browse-main-container {
  justify-content: center;
  display: flex;
  gap: 1rem;
}
.filter-sample-container {
  gap: 2rem;
  padding: 2rem;
  border: 1px solid var(--seperator-color);
  max-width: 800px;

  border-radius: 1rem;
  padding-top: 0rem;
}

/************* Filter Form *************/

.filter-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
}

.bpm-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bpm-range-indicator {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--grey-text-color);
}

.range-slider-container {
  padding: 1rem 2rem;
  background-color: var(--bg-card-color);
  border-radius: 12px;
  box-shadow: rgba(39, 39, 39, 0.2) 0px 2px 8px 0px;
}

.filter-input-title {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;

  color: var(--grey-text-color);
}

.range-slider {
  width: 100px;
}

.input-container-filter-form {
  /* padding: 0.5rem 1rem; */
  background-color: var(--bg-card-color);
  border-radius: 12px;
  box-shadow: rgba(37, 37, 37, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 1.5px solid var(--bg-card-color);
}

.input-container-filter-form:hover {
  border: var(--link-hover) 1.5px solid;
}
.input-container-filter-form select {
  background-color: var(--bg-card-color);
  border-radius: 12px;
  color: var(--text-color);
  padding: 1rem 1.5rem;
  /* margin: 0.5rem 1rem; */
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.input-container-filter-form select:focus {
  outline: none;
}

.filter-set {
  border: 1.5px solid var(--secondary-color);
  box-shadow: rgba(44, 48, 42, 0.4) 0px 2px 8px 0px;
}

.headline {
  font-size: 1.5rem;
  text-align: left;
  color: var(--grey-text-color);
}

/************* - Modal - **************/

dialog {
  margin: 0;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  /*tranform shouldnt center the modal but it does...*/
  /*Probably because of the position of the context menu*/
  width: 330px;
  transform: translate(-50%, -50%);
  background-color: var(--bg-card-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 16px 34px;
  border-radius: 10px;
  z-index: 50;
  color: var(--text-color);
  border: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-button-row {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.modal-button-row :first-child {
  background-color: var(--secondary-color);
}

.modal-button-row :first-child:hover {
  background-color: var(--link-hover);
  border: 1px solid var(--link-hover);
}

.modal-button-row :nth-child(2) {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.modal-button-row :nth-child(2):hover {
  border: 1px solid var(--cancel-color);
  color: var(--cancel-color);
}

/********* - Notification Popup - **********/
.notification {
  position: fixed;
  bottom: -100px;
  right: 30%;
  left: 30%;
  background: rgb(249, 249, 249);
  padding: 0px 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease-in-out;
  z-index: 1000;
  animation: slideIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;
  border-top: 1px solid rgb(197, 197, 197);
  border-left: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
}

/* When the notification is visible, slide it in */
.notification.show {
  bottom: 0px;
}

.icon-text-container-message {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

/* Keyframes for sliding in */
@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}

/* Keyframes for fading out */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/********* - 404 Page - **********/

.error-404-paragraph {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/********* - Media Queries - **********/
@media only screen and (max-width: 1087px) {
  .homepage-headline {
    font-size: 2rem;
  }

  .main-navigation {
    padding: 4px 50px;
  }
}

@media only screen and (max-width: 1007px) {
  /************* - Homepage -*************/

  .grid-6-text {
    font-size: 1.4rem;
  }

  .wrapper .grid:nth-child(6) .grid-content {
    padding: 0;
  }
  .icon-text-container {
    display: none;
  }
  /************* - Dashboard -*************/

  .user-stats {
    gap: 1rem;
  }

  .browse-main-container {
    flex-direction: column;
  }

  .filter-sample-container {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 640px) {
  #root {
    overflow: hidden;
  }

  .sample-form-headline {
    font-size: 1.8rem;
  }

  .filterable-sample-list {
    display: block;
    margin: 0 auto;
  }

  /********* - Sample-Player **********/
  .tags-list {
    display: none;
  }

  .sample-title-progress {
    text-align: left;
    width: 100px;
  }

  .attribute-container {
    display: none;
  }

  .sample-player-button.download-button {
    display: none;
  }

  .music-player {
    justify-content: space-between;
  }

  .page-controller {
    gap: 30px;
  }

  .music-player > * {
    flex-grow: unset;
  }

  /********* - Mobile Navigation - **********/

  .mobile-navigation {
    display: block; /* Show only in mobile view */
    position: absolute;
    right: 15px; /* Adjust as needed */
    top: 15px; /* Adjust for vertical alignment */
    cursor: pointer;
  }

  .burger-menu-icon {
    font-size: 2rem;
    color: var(--text-color);
  }

  .nav-items-container {
    position: fixed;
    top: 0;
    right: -100%; /* Hide by default */
    height: 100vh;
    width: 60%;
    /* Adjust background color as needed */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
  }

  .nav-items-container.show {
    gap: 2rem;
    right: 0; /* Show when hamburger menu is clicked */
    /* Additional styling for visible mobile menu */
  }

  .main-navigation {
    padding: 4px 20px;
  }

  /* Adjustments for other elements when menu is open */
  .main-navigation.hide {
    transform: translateX(-70%);
  }

  .logout-button {
    display: none;
  }

  .mobile-logout {
    margin-top: 3rem;
    display: block;
  }
  .logout {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: var(--text-color);
    margin: 0 auto;
  }

  .nav-item:active {
    color: #5e5e5e;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item a.active {
    color: var(--secondary-color);
  }
}
