#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  --secondary-color: #00e093;
}

.filterable-sample-list {
  display: flex;
  gap: 1rem;
}


.headline {
  font-size: 1.5rem;
  text-align: left;
  color: #7d7d7d;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 6px;
  margin: 0;
  margin-top: 0.5em;
  font-size: 12px;
  padding-inline-start: 0;
  color: #7d7d7d;
}

body {
  /* font-family: "Arial", sans-serif; */
  background-color: #f4f4f4;
  color: #313131;
  padding: 20px;
  font-family: "owners-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* max-height: 100vh; */
}

button {
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0 !important;
  text-align: inherit;
  outline: none !important;
  font: inherit;
  border-radius: 0;
  appearance: none;
  color: #313131;
  transition: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-wrapper {
  display: flex;
  flex-direction: column;
}

.searchbar-wrapper input {
  padding: 4px;
}

/* .samples-list {
  max-height: 70vh;
  overflow-y: scroll;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: hidden;
  
} */

.music-player-container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 10px;
  padding-right: 0px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid rgb(207, 207, 207); */
}

.tags {
  color: #313131;
  font-size: 12px;
}

.music-player {
  display: flex;
  gap: 10px;
  align-items: center;
}

.music-player > * {
  flex-grow: 1;
}

.user-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 8%;
  background: url(./assets/profile-pic-template.png) no-repeat center center;
  background-size: cover;
}

.sample-title-progress {
  text-align: left;
  width: 250px;
}

#song-progress {
  width: 250px;
  -webkit-appearance: none;
  appearance: none;
  height: 1.5px;
  background: #575757;
  /* border-radius: 5px; */
  outline: none;
}

#song-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #575757;
  border-radius: 50%;
  cursor: pointer;
}

#song-progress::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: #575757;
  border-radius: 50%;
  cursor: pointer;
}

.attribute-container {
  border-left: 0.5px solid rgb(197, 197, 197);
  padding-left: 11px;
  height: 100%;
}

.attribute {
  margin-top: 10px;
}

.attribute-title {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #7d7d7d;
}

.border-right {
  border-right: 0.5px solid rgb(197, 197, 197);
  padding-right: 11px;
}

.more-button svg {
  color: rgb(108, 108, 108);
}

.icon svg {
  width: 25px;
  height: auto; /* This will keep the aspect ratio intact */
}

.like-button {
  margin-top: 10px;
}

/* Sample List Styles */

/* .samples-list {
  max-height: 550px;
  width: 100%;
  overflow: scroll;
} */
